body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: white;
  color: #190a38;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.navItem {
  font-size: 35px;
  font-weight: 700;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: #ececec;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: rgb(177, 177, 177);
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: #8675a9;
  font-weight: 400;
}

.menuItem:hover {
  color: #c3aed6;
}

.slider {
  background: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  clip-path: polygon(0 0, 98% 3%, 100% 100%, 4% 96%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #190a38;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  color: #190a38;
  border: 2px solid #ffd5cd;
  border-radius: 10px;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: #190a38;
  border: 1px solid #c3aed6;
  border-radius: 10px;
  padding: 10 10px;
  background-color: #efbbcf;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #190a38;
  color: #efbbcf;
  transition: 300ms ease-in-out;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #efbbcf;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: #c3aed6;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: #efbbcf;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: #c3aed6;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: #efbbcf;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #190a38;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: #190a38;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: #190a38;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: #190a38;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: #190a38;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  color: #190a38;
}

.featureDesc {
  color: rgb(125, 122, 122);
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: #fdfdff;
  position: relative;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #8675a9;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #8675a9;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
  color: #190a38;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: #190a38;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: #190a38;
}

.gallery {
  padding: 50px;
  display: flex;
  color: #190a38;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}
